.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background: #343434;
}
.logo{
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
}

.favoritos{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0.75rem;
    margin: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    background: linear-gradient(67deg, #FFA1F5, #BC7AF9, #9711d0);
    transition: all 1s;
    color: #fff;
    font-weight: 600;
}